<!DOCTYPE html>
<html  lang="en" ng-app="CH_Messaging_App">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>College Hotline - Chat</title>

		<!-- Bootstrap core CSS -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<style> .badgeUnanswered{background: lightgreen; color: black; !important} </style>
		<style> .exit{border-width:0px;background: #FF4747; color: black; !important} </style>
		<style> .align-right{margin-bottom:0px; margin-right:10px;text-align: right} </style>
		<style> .align-left {margin-bottom:0px; margin-left: 10px; text-align: left} </style>
		<style> .currentVolunteerMessage{background-color: whitesmoke;margin-left:33%; text-align: right; border:solid; border-width:0px; border-color:gray;} </style>
		<style> .otherVolunteerMessage{  background-color: whitesmoke;margin-left:33%; text-align: right; border:solid; border-width:0px; border-color:gray;} </style>
		<style> .studentMessage{         background-color: whitesmoke;margin-right:33%;text-align: left;  border:solid; border-width:0px; border-color:gray;} </style>
		<style> .message{margin:0px; display:inline-block; padding:15px; border:solid; border-width:2px} </style>
		
		<style> .light-green{text-align: left;background-color: lightgreen; border-radius: 15px; border-width:0px;} </style>
		<style> .light-blue {text-align: left;background-color: lightblue; border-radius: 15px; border-width:0px; } </style>
		<style> .light-gray {background-color:lightgray; border-radius: 15px; border-width:0px;} </style>
		<style> .background {background-color: black; background:url('/images/chalkboard.jpg') center center fixed} </style>
		<style> .foreground {background-color:whitesmoke;} </style>
		<style> .selected   {background-color:#FFFF80} </style>
		<style> .even		{background-color:white} </style>
		<style> .odd 		{background-color:#E6E6E6} </style>
		<style> .section 	{opacity:0.9;font-family:'Shadows Into Light';color:white; font-weight:bold} </style>
		<style> .placeholder{text-align: center} </style>
		<style> .timestamp {color: black} </style>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!--style> .background {background-color:#003211} </style-->

		<!-- Local Angular-->
		<script type="text/javascript" src="/js/client_modules/angular.js"></script>
		<script type="text/javascript" src="/js/client_modules/angular-resource.js"></script>

		 
		<!--Local Scripts-->
 		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript" src="/js/controllers/conversationController.js"></script>
	</head>

	<body class="background">

		<!--header navbar-->
		<div ng-include src="'/views/navbar.html'"></div>
		
		
		<div ng-controller="conversationController" class = "container-fluid" style = "margin-top: 70px">
			<div class = "row">
				<div class = "col-sm-3">
					<h1 class="section"  align = "center"> Team Inbox </h1>
					<h4 class="section" align = "center"> Grab a text from here!</h4>
					<!--div class="panel panel-default pre-scrollable"-->
					<div>
						<ul class="list-group pre-scrollable">
							<li class="list-group-item" ng-show="inactiveConversations.length==0"> 		
								<h4 class="placeholder"> No new messages. </h4>
							</li>
							<li ng-repeat="conversation in inactiveConversations" class="list-group-item" ng-class="($index % 2 == 0) ? 'even' : 'odd' " ng-click="activateConversation($index, conversation.phoneNumber)">
								<form>
									<h4>{{conversation.messages[conversation.messageCount-1].text}}</h4>
								</form>
							</li>
						</ul>
					</div>
					<!--<form ng-submit="createTextMessage()">
						<input ng-model="newMessage" placeholder="Message Text" class="form-control" rows="3"></input>
						<button type="submit" class = "btn-lg"> Send</button>
					</form>-->
				</div>
				<div class = "col-sm-6">
					<div class = "row">
						<h1 class="section" align = "center"> My Current Message </h1>
						<h4 class="section"  align = "center"> Send a text to assist a student! </h4>
						<!--div class="panel panel-default pre-scrollable"-->
						<div class='foreground'>
							<ul id="currentMessage" class="list-group pre-scrollable">
								<!--li ng-repeat="message in currentConversation" class="list-group-item" ng-class="(message.isVolunteer==true) ? 'volunteerMessage' : 'studentMessage'"-->
								<li class="list-group-item" ng-show="currentConversation.length==0"> 		
									<h4 class="placeholder"> No message selected. </h4>
								</li>
								<li ng-repeat="message in currentConversation" class="list-group-item" ng-class="(message.isVolunteer==true) ? ((message.volunteerID==user._id) ? 'currentVolunteerMessage' : 'otherVolunteerMessage') : 'studentMessage'">
									<form>
										<p class="timestamp" ng-class="(message.isVolunteer==true) ? 'align-right' : 'align-left'">{{(message.isVolunteer==true) ? message.volunteerName : "Student"}} on {{message.timeStampString}}</p>
										<h4 class="message" ng-class="(message.isVolunteer==true) ? ((message.volunteerID==user._id) ? 'light-green' : 'light-blue') : 'light-gray'">{{message.text}}</h4>
									</form>
								</li>
							</ul>
						</div>
					</div>
					<div class = "row">
						<div class = "panel-footer text-center">
							<form ng-submit="sendMsg()">
								<input ng-model="newResponse" placeholder="Your Reply" class="form-control" rows="3"></input>
								<button type = "submit" class = "btn-lg"> Send </button>
							</form>
						</div>
					</div>
				</div>
				<div class = "col-sm-3">
					<h1 class="section"  align = "center">My Inbox</h1>
					<h4 class="section" align = "center"> Wait for a reply! </h4>
					<ul class="list-group pre-scrollable">
						<li class="list-group-item" ng-show="activeConversations.length==0"> 		
							<h4 class="placeholder"> No active conversations.</h4>
						</li>
						<li ng-repeat="conversation in activeConversations" class="list-group-item" ng-click="openConversation($index, conversation.phoneNumber)" ng-class="(conversation.phoneNumber==currentConversationPhoneNumber) ? 'selected' : (($index % 2 == 0) ? 'even' : 'odd')" >
							<form>

								<button ng-class = "'exit'" align="right" class='badge pull-right' ng-click="deactivateConversation( $index, conversation.phoneNumber)">
									X
								</button>
							<!--ng-show="conversation.unansweredMessageCount>0"-->
								<span  class="badge" ng-class = "(conversation.unansweredMessageCount>0) ? 'badgeUnanswered' : ''">{{conversation.unansweredMessageCount}}</span>
								
								<h4>{{conversation.messages[conversation.messageCount-1].text}}</h4>
								<!--button type ="submit">Return to Queue</button-->
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</body>
</html>
