<!DOCTYPE html>
<html lang="en" ng-app="CH_Messaging_App">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>College Hotline - Chat</title>

		<!-- Bootstrap core CSS -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<style> .badgeUnanswered{background: #00FF00; color: black; !important} </style>
		<style> .exit{background: red; color: white; !important} </style>
		<style> .align-right{text-align: right} </style>
		<style> .currentVolunteerMessage{text-align: right; background-color: lightgreen; border:solid; border-width:2px; border-color:gray;} </style>}
		<style> .otherVolunteerMessage{text-align: right; background-color: lightblue; border:solid; border-width:2px; border-color:gray;} </style>
		<style> .studentMessage{text-align: left; background-color: lightgray; border:solid; border-width:2px; border-color:gray;} </style>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Local Angular-->
		<script type="text/javascript" src="/js/client_modules/angular.js"></script>
		<script type="text/javascript" src="/js/client_modules/angular-resource.js"></script>

		 
		<!--Local Scripts-->
		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript" src="/js/controllers/conversationController.js"></script>
	</head>

	<body>

		<!--header navbar-->
		<div ng-include src="'/views/navbar.html'"></div>
		
		
		<div ng-controller="conversationController" class = "container-fluid" style = "margin-top: 70px">
			<div class = "row">
				<div class = "col-sm-3">
					<h2 align = "center"> Team Inbox </h2>
					<p align = "center"> Grab a text from here!</p>
					<!--div class="panel panel-default pre-scrollable"-->
					<div>
						<ul class="list-group pre-scrollable">
							<li ng-repeat="conversation in inactiveConversations" class="list-group-item" ng-click="activateConversation($index, conversation.phoneNumber)">
								<form>
									<h4>{{conversation.messages[conversation.messageCount-1].text}}</h4>
								</form>
							</li>
						</ul>
					</div>
					<!--<form ng-submit="createTextMessage()">
						<input ng-model="newMessage" placeholder="Message Text" class="form-control" rows="3"></input>
						<button type="submit" class = "btn-lg"> Send</button>
					</form>-->
				</div>
				<div class = "col-sm-6">
					<div class = "row">
						<h2 align = "center"> My Current Message </h2>
						<!--div class="panel panel-default pre-scrollable"-->
						<div>
							<ul class="list-group pre-scrollable">
								<!--li ng-repeat="message in currentConversation" class="list-group-item" ng-class="(message.isVolunteer==true) ? 'volunteerMessage' : 'studentMessage'"-->
								<li ng-repeat="message in currentConversation" class="list-group-item" ng-class="(message.isVolunteer==true) ? ((message.volunteerID==user._id) ? 'currentVolunteerMessage' : 'otherVolunteerMessage') : 'studentMessage'">
									<form>
										<p ng-class="(message.isVolunteer==true) ? 'align-right' : ''">{{(message.isVolunteer==true) ? message.volunteerName : "Student"}} <br> {{message.timeStampString}}</p>
										<h3>{{message.text}}</h3>
									</form>
								</li>
							</ul>
						</div>
					</div>
					<div class = "row">
						<div class = "panel-footer text-center">
							<form ng-submit="sendMsg()">
								<input ng-model="newResponse" placeholder="Your Reply" class="form-control" rows="3"></input>
								<button type = "submit" class = "btn-lg"> Send </button>
							</form>
						</div>
					</div>
				</div>
				<div class = "col-sm-3">
					<h2 align = "center">My Inbox</h2>
					<p align = "center"> Messages only you can see.</p>
					<ul class="list-group pre-scrollable">
						<li ng-repeat="conversation in activeConversations" class="list-group-item" ng-click="openConversation($index, conversation.phoneNumber)">
							<form>

								<button ng-class = "'exit'" align="right" class='badge pull-right' ng-click="deactivateConversation( $index, conversation.phoneNumber)">x</button>
							<!--ng-show="conversation.unansweredMessageCount>0"-->
								<span  class="badge" ng-class = "(conversation.unansweredMessageCount>0) ? 'badgeUnanswered' : ''">{{conversation.unansweredMessageCount}}</span>
								
								<h5 align="center">{{conversation.messages[conversation.messageCount-1].text}}</h5>
								<!--button type ="submit">Return to Queue</button-->
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</body>
</html>
