<!DOCTYPE html>
<html lang="en" ng-app="CH_Messaging_App">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>College Hotline - Chat</title>

		<!-- Bootstrap core CSS -->
		<link href="css/bootstrap.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<!--header navbar-->
		<div ng-include src="'/views/navbar.html'"></div>
		
		
		<div ng-controller="conversationController" class = "container-fluid" style = "margin-top: 70px">
			<div class = "row">
				<div class = "col-sm-3">
					<div class="panel panel-default pre-scrollable">
						<div ng-repeat="conversation in inactiveConversations" class="list-group-item">
							<!-- <form ng-submit="activateConversation( conversation.phoneNumber )"> -->
							<form ng-submit="activateConversation( $index, conversation.phoneNumber )">
								<h4>{{conversation.messages[0].text}}</h4>
								<!-- <p>{{conversation.phoneNumber}}</p> -->
								<p>{{message.timeStamp}}</p>
								<button align="center" type ="submit">Answer</button>
							</form>
						</div>
					</div>
					<form ng-submit="createTextMessage()">
						<input ng-model="newMessage" placeholder="Message Text" class="form-control" rows="3"></input>
						<button type="submit" class = "btn-lg"> Send</button>
					</form>
				</div>
				<div class = "col-sm-7">
					<div class = "row">
						<div class="panel panel-default pre-scrollable">
							<div class = "panel-header">

								<h2 class = "text-center">John Doe</h2>
							</div>
							<div class="panel-body">
							<p> Nov 4, 3:10pm </p>
							<h4>What is the SAT?</h4>
							</div>
											<div class="panel-body">
											<p align="right"> Nov 4, 3:15pm </p>
							<h4 align="right">It's a test designed to see how prepared you are for college.</h4>
							</div>
						</div>
					</div>
					<div class = "row">
						<div class = "panel-footer text-center">
							<button class = "btn-lg"> Help this student</button>

							<form ng-submit="createConversation()">
								<input ng-model="newText" placeholder="Message Text" class="form-control" rows="3"></input>
								<input ng-model="newNumber" placeholder="Phone Number" class="form-control" rows='1'></input>
								<button type="submit" class = "btn-lg"> Send</button>
							</form>
						</div>
					</div>

				</div>
				<div class = "col-sm-2">
					<ul class="list-group pre-scrollable">
						<li ng-repeat="conversation in activeConversations" class="list-group-item">
							<form ng-submit="deactivateConversation( $index, conversation.phoneNumber)">
								<span class="badge">14</span>
								<p>{{conversation.phoneNumber}}</p>
								<button type ="submit">Return to Queue</button>
							</form>
							<form ng-submit="openConversation( $index, conversation.phoneNumber)">
								<button type ="submit">Open</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>


		<!-- Local Angular-->
		<script type="text/javascript" src="/js/client_modules/angular.js"></script>
		<script type="text/javascript" src="/js/client_modules/angular-resource.js"></script>

		 
		<!--Local Scripts-->
		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript" src="/js/controllers/conversationController.js"></script>
	</body>
</html>
