<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
          <img src="LogoSolidGuy1.gif" alt="College Hotline" id="logo" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/conversations">Text Messages</a></li>
        <li><a href="/notes">Phone Calls</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ><a href="home">Home</a></li>
        <li class="page_item page-item-5"><a href="about">About</a></li>
        <li><a href="/logout">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>	