<!DOCTYPE html>
<html lang="en" ng-app = "CH_Messaging_App">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>College Hotline - Chat</title>

		<!-- Bootstrap core CSS -->
		<link href="css/bootstrap.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
			.pre-scrollable{
				padding: 15px;
			}
		</style>
	</head>

	<body>

		<!--header navbar-->
		<div ng-include src="'/views/navbar.html'"></div>
		
		<div ng-controller="notesBasicController" class = "container-fluid" style = "margin-top: 70px">
			<div class = "row">
				<form ng-submit = "loadCaller()" class = "text-center">
					<button align = "center" type = "submit" > Load Current Caller Info </button>
				</form>
			</div>
			<div class = "row">
				<!-- <div ng-controller="notesBasicController" class = "col-resize" > -->
				<div class = "col-resize" >
					<div class = "panel-header">
						<h2 class = "text-center">Basic Information</h2>
					</div>
					<div class="panel panel-default pre-scrollable">
						<div class = "row">
							<!--
							<div class = "col-xs-2">
								<h2 class = "text-center"> Or </h2>
							</div>
							<div class = "col-xs-5 pull-right">
								<form ng-submit="phoneSearch()">
									
									<label> Search for phone number </label>
									<input type="text" class="form-control" placeholder="Search For Phone Number" value = "{{phoneNumberSearch}}" ng-model="phoneNumberSearch" >
									<button align="center" type ="submit">Search</button>
								</form> 
							</div>-->
						</div>
						<div>		
							<form ng-submit="createNewNote()">
								<div class="form-group" >
									
									<label>Phone Number</label>
									<input type="text" class="form-control" placeholder="Phone Number" value = "{{phoneNumber}}" ng-model="phoneNumber" >
									<label>First Name</label>
									<input ng-model="firstName" type="text" class="form-control" placeholder="First Name">
									<label>Last Name</label>
									<input ng-model="lastName" type="text" class="form-control" placeholder="Last Name">
									<label>School Name</label>
									<input ng-model="schoolName" type="text" class="form-control" placeholder="School Name">
									<label>Current Year in School</label>
									<input ng-model="currentYear" type="text" class="form-control" placeholder="Example: Sophomore">
								</div>
								<button type="submit" align="center">Save</input>
							</form>
						</div>
					</div>
				</div>
				<div  class = "col-resize">
					<div class = "panel-header">
						<h2 class = "text-center">Notes</h2>
					</div>
					<div class="panel panel-default pre-scrollable">
						<form class="form-horizontal" ng-submit="saveQuestion1()">
							<div class="form-group" >
								<h3 class="text-center">Why are you calling today?</h3>
								<textarea ng-model="question1" class="form-control" rows="3" placeholder="Write a reply..."></textarea>
							</div>
							<div class="center-block">
								<button class="center-block" type="submit" >Save</button>
							</div>
						</form>

						<form class="form-horizontal" ng-submit="saveQuestion2()">
							<div class="form-group" >
								<h3 class="text-center">What was discussed during this call?</h3>
								<textarea ng-model="question2" class="form-control" rows="3" placeholder="Write a reply..."></textarea>
							</div>
							<div class="center-block">
								<button class="center-block" type="submit" >Save</button>
							</div>
						</form>
					</div>


					<!-- <div class="panel panel-default pre-scrollable">
						<div ng-repeat = "ltgoal in ltgoals">
							<input type="checkbox"> {{ltgoal.body}}</input>
						</div>
					</div>
					<form ng-submit="createNewLTGoal()">
						<input ng-model="newLTGoal" placeholder="Enter a long term goal" class="form-control" rows="3"></input>
						<button type="submit" class = "btn-md"> Update</button>
					</form> -->
				</div>
				<div class = "col-resize">
					<div class = "panel-header">
						<h2 class = "text-center">Action Plan</h2>
					</div>
					<div class="panel panel-default pre-scrollable">
						<div ng-repeat = "goal in goals">
							<input type="checkbox"> {{goal.body}}</input>
						</div>
					</div>
					<form ng-submit="createNewGoal()">
						<input ng-model="newGoal" placeholder="Enter a short term goal" class="form-control" rows="3"></input>
						<button type="submit" class = "btn-md"> Update</button>
					</form>
				</div>
			</div>
		</div>

		
		<!-- Client Side Scripts-->
		<script src="/js/client_modules/jquery.min.js"></script>
		<script src="/js/frontend/notes.js"></script>

		<!-- Local Angular-->
		<script type="text/javascript" src="/js/client_modules/angular.js"></script>
		<script type="text/javascript" src="/js/client_modules/angular-resource.js"></script>
		
		<!--Local Scripts-->
		<script type="text/javascript" src="/js/app.js"></script>
		<script src = "/js/controllers/notesBasicController.js"></script>
		<script src = "/js/controllers/notesShortTermController.js"></script>
  	</body>
</html>
